<div class="profile-img">
  <img src="{{imageProfile}}" alt="" />
</div>
<h4>{{name}} {{lastName}}</h4>
<p>@{{username}}</p>

<p>{{description}}</p>
<a href="/profile/edit">Edit</a>

<hr />

<h3>{{name}}'s favorite artists:</h3>

<h3>{{name}}'s playlists:</h3>

<h3>{{name}} wants to assist to:</h3>