<div class="profile-img">
  <img src="{{imageProfile}}" alt="" />
</div>
<h4>{{name}} {{lastName}}</h4>
<p>@{{username}}</p>

<p>{{description}}</p>
<a href="/profile/edit">Edit</a>

<hr />

<h3>{{name}}'s favorite artists:</h3>
<div class="favorite-artists">
  {{#each favoriteArtists}}
    <div class="each-artist">
      <img src="{{image}}" alt="artist image" />
      <p>{{name}}</p>
    </div>
  {{/each}}
</div>

<h3>{{name}}'s playlists:</h3>
<a href="/playlist/create">Create playlist</a>

<h3>{{name}} wants to assist to:</h3>