<tr>
  <td class="track-title">
    <p><span>{{track.name}}: </span></p>
  </td>
  <td>
    <audio controls src="{{track.preview_url}}"></audio>
  </td>

  <td>
    <div class="btn-group">
      <button type="button" class="transparent-button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/images/add-track-icon.png" class="icon" alt="">
      </button>
      <ul class="dropdown-menu">

        <li><button type="button" class="transparent-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create playlist
          </button></li>

        <li><hr class="dropdown-divider" /></li>
        {{#each playlists}}
          <li>
            <form action="/search/add-track/{{_id}}" method="post">
            <input hidden type="text" name="name" value="{{../track.name}}">
            <input hidden type="text" name="preview_url"value="{{../track.preview_url}}">
            {{#if ../search}}
              <input hidden type="text" name="search"value="{{../search}}">
            {{else}}
            <input hidden type="text" name="albumId" value="{{../albumId}}">
            {{/if}}
            <button class="dropdown-item">{{name}}</button>
            </form>
          </li>
        {{/each}}
      </ul>
    </div>
  </td>

</tr>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New <span>playlist</span></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/playlist/create" method="POST" enctype="multipart/form-data">
        <div class="modal-body">

          <div>
            <input hidden type="text" name="search" value="{{search}}"/>
          </div>

          <div>
            <input hidden type="text" name="trackName" value="{{track.name}}"/>
          </div>

          <div>
            <input hidden type="text" name="trackUrl" value="{{track.preview_url}}"/>
          </div>
          
           <div>
              <input class="title-input input-style" placeholder="Playlist title" required id="playlist-title" type="text" name="name" />
            </div>

            <div>
              <textarea class=" textarea-input input-style " type="description" name="description" placeholder="Add an optional description"></textarea>
            </div>

            <div>
              <label for="playlistImage">Playlist Image</label>
              <input type="file" id="playlistImage" name="playlistImage" />
            </div>

          </div>
          <div class="modal-footer">
            <button class="small-button" disabled type="submit" id="modal-button" style="background: #8DCFFF;"data-bs-dismiss="modal">Create
              playlist</button>
          </div>

      </form>
    </div>
  </div>
</div>


<script src="/js/modalValidation.js"></script>
