<section>

  <h1> ARTISTS RESULTS</h1>

  {{#each artistsResults}}

    <div class="results-section">

      <img src="{{images.1.url}}" alt="" />

      <div class="artist-card-items">
        <p class="artist-name"> {{name}}</p>
        <a href="/search/albums/{{id}}">View Albums</a>
        <form action="/search/artist/favorite" method="POST">
          {{! el name tiene que ser igual que los campos del modelo que quiero }}
          <input hidden type="text" name="name" value="{{name}}" />
          <input hidden type="text" name="image" value="{{images.1.url}}" />
          {{!-- utilizamos los dos puntos para salir del objeto artistsResults --}}
          <input hidden type="text" name="search" value="{{../search}}" /> 
          <button type="submit">Fav</button>

        </form>

      </div>

    </div>

  {{/each}}

<hr>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Listen</th>
    </tr>
  </thead>
  <tbody>
    {{#each tracksResults}}
      {{> trackCard this}}
    {{/each}}
  </tbody>
</table>

</section>
