{{#with playlistDetails}}

  <div class="playlist-detail-header">

    <div class="playlist-detail-image">
      <img src="{{playlistImage}}" alt="Playlist Image" />
    </div>

    <div class="playlist-detail-info">
      <h2>{{name}}</h2>
      <p>{{description}}</p>

      <p>Created by: {{...user.name}} {{...user.lastName}}</p>
       <form action="/playlist/{{_id}}/delete" method="POST"><button type="submit" class="btn btn-primary" data-toggle="button">Delete</button></form>
    </div>

  </div>

  <br>

<p>Tracks:</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Listen</th>
    </tr>
  </thead>
  <tbody>
{{#each tracks}}
{{> trackCardDetail track=this playlistId=../_id}}
{{/each}}

  </tbody>
</table>






{{/with}}

<h1></h1>